In [1]:
from sklearn.datasets import fetch_20newsgroups
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from sklearn import metrics

from sklearn.cluster import KMeans, MiniBatchKMeans

import logging
from optparse import OptionParser
import sys
from time import time

import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
import pickle

import pandas as pd
import re
from pandas.io.json import json_normalize
import json

In [3]:
def convert_ids(ids_in_csv):
    return pd.to_numeric(ids_in_csv, errors='coerce').astype('int64')

def convert_to_float(ids_in_csv):
    return pd.to_numeric(ids_in_csv, errors='coerce').astype('float64')

def to_json(csv_entry):
    return json.loads(re.sub('\'', '"', csv_entry))

movies_metadata_df = pd.read_csv('the-movies-dataset/movies_metadata.csv'
                                 , converters={ 'id': lambda x: convert_ids(x)
                                               , 'imdb_id': lambda x: convert_ids(x)
                                               ,'popularity': lambda x: convert_to_float(x)
                                               ,'genres': lambda x: to_json(x)}
                                 , usecols=['id', 'original_title'
                                                , 'genres', 'homepage'
                                                , 'overview', 'popularity', 'poster_path'
                                                , 'release_date', 'revenue', 'runtime'
                                                , 'spoken_languages', 'tagline', 'title'
                                                , 'vote_average', 'vote_count']
                                , dtype={'populariy': np.float64}
                                , parse_dates=True)

In [4]:
mini_df = movies_metadata_df[['id', 'popularity', 'release_date', 'revenue', 'runtime', 'vote_average', 'genres']]

In [5]:
mini_df['release_year'] = pd.to_datetime(movies_metadata_df['release_date'], errors='coerce').apply(lambda x: x.year)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
mini_df.head()

,id,popularity,release_date,revenue,runtime,vote_average,genres,release_year
0,862,21.946943,1995-10-30,373554033.0,81.0,7.7,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995.0
1,8844,17.015539,1995-12-15,262797249.0,104.0,6.9,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995.0
2,15602,11.712900,1995-12-22,0.0,101.0,6.5,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995.0
3,31357,3.859495,1995-12-22,81452156.0,127.0,6.1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995.0
4,11862,8.387519,1995-02-10,76578911.0,106.0,5.7,"[{'id': 35, 'name': 'Comedy'}]",1995.0

In [7]:
[list(item.values())[0] for item in mini_df[['genres']].loc[0][0]]

[16, 35, 10751]

In [8]:
json_normalize(mini_df[['genres']].loc[0][0])

      id       name
0     16  Animation
1     35     Comedy
2  10751     Family

In [9]:
json_normalize(mini_df[['genres']].loc[1][0])

      id       name
0     12  Adventure
1     14    Fantasy
2  10751     Family

In [10]:
json_normalize(mini_df[['genres']].loc[2][0])

      id     name
0  10749  Romance
1     35   Comedy

In [13]:
pd.get_dummies(mini_df['genres'])

TypeError: unhashable type: 'list'

In [12]:
mini_df['genre_ids'] = mini_df['genres'].apply(lambda x: [list(item.values())[0] for item in x])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
for i, lst in enumerate(mini_df.genre_ids):
    for j, item in enumerate(lst):
        if type(item) == str:
            print(f'{type(item)} found at series index{i}, array index{j}')

<class 'str'> found at series index19730, array index0
<class 'str'> found at series index19730, array index1
<class 'str'> found at series index19730, array index2
<class 'str'> found at series index29503, array index0
<class 'str'> found at series index29503, array index1
<class 'str'> found at series index29503, array index2
<class 'str'> found at series index29503, array index3
<class 'str'> found at series index29503, array index4
<class 'str'> found at series index35587, array index0
<class 'str'> found at series index35587, array index1
<class 'str'> found at series index35587, array index2
<class 'str'> found at series index35587, array index3

In [15]:
mini_df_dropped_na = mini_df.dropna()

In [16]:
mini_df_dropped_na.shape

(45130, 9)

In [17]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
encoded_categories = mlb.fit_transform(mini_df_dropped_na['genre_ids'])

In [18]:
encoded_categories_df = pd.DataFrame(encoded_categories)

In [19]:
encoded_categories_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
7,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
8,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
11,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
12,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
14,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
16,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
17,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
18,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0
21,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0
23,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0
24,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
25,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
27,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
28,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
29,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45100,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
45101,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
45102,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0
45103,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45104,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45105,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
45106,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
45107,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45108,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
45109,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45110,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
45111,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
45112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45114,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
45115,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
45116,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
45117,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
45118,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0
45119,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
45120,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45121,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
45122,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
45123,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45124,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
45125,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45126,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45127,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
45128,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45129,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [20]:
content_filter_df = pd.concat([mini_df_dropped_na, encoded_categories_df], axis=1)

In [21]:
content_filter_df.to_pickle('content_filter_df.pkl')

In [22]:
content_filter_df

,id,popularity,release_date,revenue,runtime,vote_average,genres,release_year,genre_ids,0,...,10,11,12,13,14,15,16,17,18,19
0,862.0,21.946943,1995-10-30,373554033.0,81.0,7.7,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995.0,"[16, 35, 10751]",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,8844.0,17.015539,1995-12-15,262797249.0,104.0,6.9,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995.0,"[12, 14, 10751]",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,15602.0,11.712900,1995-12-22,0.0,101.0,6.5,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995.0,"[10749, 35]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,31357.0,3.859495,1995-12-22,81452156.0,127.0,6.1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995.0,"[35, 18, 10749]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,11862.0,8.387519,1995-02-10,76578911.0,106.0,5.7,"[{'id': 35, 'name': 'Comedy'}]",1995.0,[35],0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,949.0,17.924927,1995-12-15,187436818.0,170.0,7.7,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",1995.0,"[28, 80, 18, 53]",0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,11860.0,6.677277,1995-12-15,0.0,127.0,6.2,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",1995.0,"[35, 10749]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,45325.0,2.561161,1995-12-22,0.0,97.0,5.4,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1995.0,"[28, 12, 18, 10751]",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,9091.0,5.231580,1995-12-22,64350171.0,106.0,5.5,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1995.0,"[28, 12, 53]",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,710.0,14.686036,1995-11-16,352194034.0,130.0,6.6,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",1995.0,"[12, 28, 53]",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,9087.0,6.318445,1995-11-17,107879496.0,106.0,6.5,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995.0,"[35, 18, 10749]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,12110.0,5.430331,1995-12-22,0.0,88.0,5.7,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",1995.0,"[35, 27]",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,21032.0,12.140733,1995-12-22,11348324.0,78.0,7.1,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",1995.0,"[10751, 16, 12]",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13,10858.0,5.092000,1995-12-22,13681765.0,192.0,7.1,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",1995.0,"[36, 18]",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1408.0,7.284477,1995-12-22,10017322.0,119.0,5.7,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1995.0,"[28, 12]",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,524.0,10.137389,1995-11-22,116112375.0,178.0,7.8,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1995.0,"[18, 80]",0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,4584.0,10.673167,1995-12-13,135000000.0,136.0,7.2,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",1995.0,"[18, 10749]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,5.0,9.026586,1995-12-09,4300000.0,98.0,6.5,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",1995.0,"[80, 35]",0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,9273.0,8.205448,1995-11-10,212385533.0,90.0,6.1,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",1995.0,"[80, 35, 12]",1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,11517.0,7.337906,1995-11-21,35431113.0,103.0,5.4,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",1995.0,"[28, 35, 80]",0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,8012.0,12.669608,1995-10-20,115101622.0,105.0,6.4,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",1995.0,"[35, 53, 80]",0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1710.0,10.701801,1995-10-27,0.0,124.0,6.5,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",1995.0,"[18, 53]",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,9691.0,11.065939,1995-10-06,30303072.0,132.0,6.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1995.0,"[28, 12, 80, 53]",1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,12665.0,12.133094,1995-10-27,0.0,111.0,6.3,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",1995.0,"[18, 14, 878, 53]",0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,451.0,10.332025,1995-10-27,49800000.0,112.0,7.1,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",1995.0,"[18, 10749]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25,16420.0,1.845899,1995-12-15,0.0,123.0,7.0,"[{'id': 18, 'name': 'Drama'}]",1995.0,[18],0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,9263.0,8.681325,1995-10-20,27400000.0,100.0,6.6,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995.0,"[35, 18, 10751]",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
27,17015.0,2.228434,1995-09-27,0.0,104.0,7.4,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",1995.0,"[18, 10749]",0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
28,902.0,9.822423,1995-05-16,1738611.0,108.0,7.6,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",1995.0,"[14, 878, 12]",1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,37557.0,1.100915,1995-04-30,0.0,108.0,6.5,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1995.0,"[18, 80]",0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45435,63266.0,0.643625,2010-03-25,0.0,79.0,3.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",2010.0,"[53, 27]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45436,45527.0,1.270832,2010-01-01,0.0,92.0,3.7,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",2010.0,"[28, 9648, 53, 27]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45437,455661.0,20.821780,2017-06-01,0.0,4.0,8.3,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2017.0,"[10751, 16, 10749, 35]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45438,327237.0,0.590087,2015-04-02,0.0,111.0,6.8,"[{'id': 18, 'name': 'Drama'}]",2015.0,[18],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45439,84710.0,0.143223,1944-06-01,0.0,61.0,5.8,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",1944.0,"[18, 14, 27]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45440,39562.0,0.767762,2007-01-08,0.0,89.0,5.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",2007.0,"[18, 10751, 10770]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45441,14008.0,4.392389,2002-03-07,0.0,101.0,5.2,"[{'id': 35, 'name': 'Comedy'}]",2002.0,[35],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45442,44330.0,0.219260,1905-01-01,0.0,3.0,5.0,[],1905.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45443,49279.0,1.618458,1901-01-01,0.0,3.0,7.6,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",1901.0,"[35, 14, 878]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45444,44333.0,0.208349,1905-01-01,0.0,3.0,6.1,"[{'id': 14, 'name': 'Fantasy'}]",1905.0,[14],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45445,49277.0,0.148131,1906-01-01,0.0,3.0,4.5,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",1906.0,"[14, 35]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45446,49271.0,0.725084,1909-01-01,0.0,6.0,6.7,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",1909.0,"[14, 35]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45447,44324.0,0.213973,1904-03-05,0.0,3.0,6.0,[],1904.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45448,122036.0,0.071782,1904-01-01,0.0,2.0,5.0,[],1904.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45449,14885.0,2.568495,2005-09-13,0.0,67.0,5.4,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2005.0,"[16, 10751]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45450,49280.0,1.109068,1900-01-01,0.0,1.0,6.5,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",1900.0,"[14, 28, 53]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45451,106807.0,0.225432,1900-01-01,0.0,2.0,6.5,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",1900.0,"[35, 14]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45452,276895.0,0.011025,1981-01-01,0.0,58.0,0.0,"[{'id': 99, 'name': 'Documentary'}]",1981.0,[99],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45453,404604.0,1.559596,2017-07-07,0.0,146.0,6.6,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",2017.0,"[80, 18, 53]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45454,420346.0,0.139936,2015-01-11,0.0,79.0,4.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2015.0,"[35, 18]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45455,67179.0,0.225051,1972-01-01,0.0,90.0,6.0,[],1972.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45456,84419.0,0.222814,1946-03-29,0.0,65.0,6.3,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",1946.0,"[27, 9648, 53]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45457,390959.0,0.076061,2000-10-22,0.0,45.0,7.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",2000.0,"[9648, 27]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45458,289923.0,0.386450,2000-10-03,0.0,30.0,7.0,"[{'id': 27, 'name': 'Horror'}]",2000.0,[27],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45459,222848.0,0.661558,1995-01-01,0.0,85.0,3.5,"[{'id': 878, 'name': 'Science Fiction'}]",1995.0,[878],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45460,30840.0,5.683753,1991-05-13,0.0,104.0,5.7,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991.0,"[18, 28, 10749]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45462,111109.0,0.178241,2011-11-17,0.0,360.0,9.0,"[{'id': 18, 'name': 'Drama'}]",2011.0,[18],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45463,67758.0,0.903007,2003-08-01,0.0,90.0,3.8,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003.0,"[28, 18, 53]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45464,227506.0,0.003503,1917-10-21,0.0,87.0,0.0,[],1917.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45465,461257.0,0.163015,2017-06-09,0.0,75.0,0.0,[],2017.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN